header {
  height: 120px;
  background-color: rgb(62, 62, 62);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  color: bisque;
}

header #location, header #logo {
  font-size: 40px;
  color: bisque;

}


html, body {
  margin: 0;
  padding: 0;
}

#location-info {
  width: 200px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  gap: 5px;
}

#high-low {
  display: flex;
  justify-content: space-around;
}


#search-bar {
  display: flex;
  gap: 5px;
  align-items: center;
}

.current {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}