body {
  background-color: rgb(255, 217, 166);;
  font-family: "Roboto", sans-serif;
}
header {
  height: 120px;
  background-color: rgb(62, 62, 62);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  color: bisque;
}

header #location, header #logo {
  font-size: 40px;
  color: bisque;

}


html, body {
  margin: 0;
  padding: 0;
}

#location-info {
  min-width: 300px;
  padding: 50px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  gap: 5px;
  background-color: rgb(62, 62, 62);
  color: white;
  font-size: 1.5em;
}

#high-low {
  display: flex;
  justify-content: space-around;
}


#search-bar {
  display: flex;
  gap: 5px;
  align-items: center;
}

#search-bar label {
  font-size: 25px;
}

#search-bar input {
  font-size: 20px;
}

.current {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  flex-direction: column;
  gap: 100px;
}

#search-bar button {
  background-color: rgb(62, 62, 62);
  padding: 7px;
  border-radius: 7px;
  color: white;
  font-size: 15px;

}

#city {
  font-size: 2em;

}

#temp {
  margin: 20px 0 20px 0;
  font-size: 1.8em;
}

#condition {
  padding-bottom: 20px;
}